<extend name="./Public/_menu" />
<block name="body"> 
  <!-- Begin Wrapper -->
  <div id="wrapper">
  
   <div class="intro">The most difficult thing is the decision to act. And the rest is merely tenacity.</div>
   
  	<!-- Begin Container -->
  	<div class="container">

    <foreach name="arr" item="vo" key="k" >
  	<div class="post photo">
    <!-- <div class="icon-photo"></div> -->
    <div class="icon-text"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
            <a href="{:U('Post/post')}?id={$vo.article_id}">
    		    <img src="__ROOT__/Uploads/goods/{$vo.article_photo}" alt="" />
            </a>
    		<div class="post-text">
    			<a href="{:U('Post/post')}?id={$vo.article_id}">{$vo.article_name}
                </a>
    		</div>
			<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
                    <li><span></span>作者：钟伟建</li>

    				<li><span class="post-link"></span><a href="#">{:date('Y-m-d H:i:s',$vo['article_time'])}</a></li>
    				<!-- <li><span class="post-comment"></span><a href="#">人气({$vo.article_click})</a></li> -->
    				<li><span class="post-tag"></span>{$vo.tags}</li>

    			</ul>
    			<div class="share"><span class="post-share"></span><a href="{:U('Post/post')}?id={$vo.article_id}">阅读全文</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div>
    </foreach>
    
    <!-- 
    <div class="post text">
    <div class="icon-text"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<div class="post-text">
    			<h2 class="title"><a href="#">An Example Post</a></h2>
    			<p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu, 				eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam, 
				<br /><br />
				Etiam condimentum lacinia bibendum. Sed tempor feugiat purus, idetsen dapibus eros sagittis sed nulla lacina. Pellentesque habitant morbi laciros.
				</p>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div>
    
    <div class="post video">
    <div class="icon-video"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<iframe src="http://player.vimeo.com/video/26028186?title=0&amp;byline=0&amp;portrait=0&amp;color=a7b5a6" frameborder="0" height="335" width="595"></iframe>
    		<div class="post-text">
    			<h2 class="title"><a href="#">An Example Post</a></h2>
    			<p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu, 				eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam, 
				<br /><br />
				Etiam condimentum lacinia bibendum. Sed tempor feugiat purus, idetsen dapibus eros sagittis sed nulla lacina. Pellentesque habitant morbi laciros.</p>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div> -->
 <!--    
    <div class="post audio">
    <div class="icon-audio"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<div class="post-text">
    			<h2 class="title"><a href="#">Icona Pop - Nights Like Bonita</a></h2>
    			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F29449040&show_artwork=true"></iframe>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div>
    
    <div class="post link">
    <div class="icon-link"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<div class="post-text">
    			<h2 class="title"><a href="#">My Favorite Website Link →</a></h2>
    			<p>Cras adipiscing fringilla gravida. Quisque lectus nisl, blandit dictum aliquam vel, porttitor sit amet quam. Donec sed mauris ante, commodo purus. Nunc condimentum, sapien a aliquet elementum, dui neque facilisis arcu, eu cursus nunc velit at orci. Nunc congue, nisi sed elementum aliquam</p>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div>
    
    <div class="post quote">
    <div class="icon-quote"></div>
    <div class="content">
    	<div class="top"></div>
    	<div class="middle">
    		<div class="post-text">
    			<p>Pellentesque ultricies nunc sedor duir aliquet, sed elit justo, lacinia neco commodo vitarem. Quisque convallis, nulla eu semper ultrices fringilla viverra.</p>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div>
    
    <div class="post chat">
    <div class="icon-chat"></div>
    <div class="content">
    	<div class="top"></div>c
    	<div class="middle">
    		<div class="post-text">
    			<ul class="chat-text">
  					<li class="odd user_1"> <span class="speaker">John:</span> <span class="says">Sed neque nulla, eleifend eu laoreet sit?</span> </li>
  					<li class="even user_2"> <span class="speaker">Lora:</span> <span class="says">Curabitur hendrerit euismod mauris sit amet porta.</span> </li>
  					<li class="odd user_1"> <span class="speaker">John:</span> <span class="says">Curabitur rutrum, elit sit amet varius pellentesque, purus nisi tristique leo, et suscipit arcu.</span> </li>
				</ul>
    		</div>
    		<div class="meta-wrapper">
			<div class="meta">
    			<ul class="post-info">
    				<li><span class="post-link"></span><a href="#">26 August 2011</a></li>
    				<li><span class="post-comment"></span><a href="#">15</a></li>
    				<li><span class="post-tag"></span><a href="#">quote</a>, <a href="#">library</a></li>
    			</ul>
    			<div class="share"><span class="post-share"></span><a href="#">Share</a></div>
    			<div class="clear"></div>
    		</div>
    		</div>
    	</div>
    	<div class="bottom"></div>
    </div>
    </div> -->
    
    <!-- Begin Page Navi -->
    <div class="page-navi">
    		<!-- <ul>
    			<li><a href="#" class="current">1</a></li>
    			<li><a href="#">2</a></li>
    			<li><a href="#">3</a></li>
    		</ul> -->
            {$btn}
    </div>
    <!-- End Page Navi -->
    
	</div> <!-- End Container -->

<include file='Public/_right' />
		
		
		
	</div>
    <div class="clear"></div>
    
  </div>
  <!-- End Wrapper -->
  
  <div class="push"></div>
</div>
<!-- End Body Wrapper -->
</block>