<extend name="./Public/_menu" />
<block name="body"> 
  <!-- Begin Wrapper -->
  <div id="wrapper">
  
   <div class="intro">Phasellus vitae lectus sit amet ipsum fringilla viverra at et leo. Cras iaculis, sem vel venenatis sodales, elit dui elementum lorem, ut semper ligula ipsum at sapien.</div>
   
  	<!-- Begin Blog -->
  	<div class="container">   

    <foreach name="arr" item="vo" key="k" >
    <div class="post text">
    <div class="icon-text"></div>
    <div class="content">
      <div class="top"></div>
      <div class="middle">
        <div class="post-text">
          <h2 class="title"><a href="#">{$vo.article_name}</a></h2>
          <p>{$vo.article_content}
        <br /><br />
        {$vo.article_des}
        </p>
        </div>
        <div class="meta-wrapper">
      <div class="meta">
          <ul class="post-info">
            <!-- <li><span class="glyphicon glyphicon-user">{$vo.user_name}</span></li> -->
            <li><span class="post-link"></span><a href="#"><span class="glyphicon glyphicon-user">{$vo.user_name}</span> | {:date('Y-m-d H:i',$vo['article_time'])}</a></li>
            <li><span class="post-comment"></span><a href="#">人气({$vo.article_click})</a></li>
            <li><span class="post-tag"></span><a href="#">{$vo.tags}</a></li>
          </ul>
          <!-- <div class="share"><span class="post-share"></span><a href="">点赞</a></div> -->
          <div class="clear"></div>
        </div>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
    </div>
    </foreach>
    
    
    
    <!-- Begin Comments Section -->
		<!-- Begin Comments -->
        
        <h3 class="line">留言板</h3>
        
        <!-- Begin Comments -->
        <div id="comments">
          <ol id="singlecomments" class="commentlist">
          <foreach name="messageList" item="vo" key="k">
            <li class= "clearfix">
              <div class="user"><img alt="" src="__PUBLIC__/Home/style/images/art/ad1.jpg" height="48" width="48" class="avatar" />
                <!-- <a class="reply-link" href="#">{$vo.user_name}</a> -->
              </div>
              <div class="message">
              <div class="top"></div>
              <div class="middle">
                <div class="info">
                  <h4><a href="#">{$vo.user_name}</a></h4>
                  <span class="date">{:date('Y-m-d H:i:s',$vo['message_stay_time'])}</span>  </div>
                <p>{$vo.message_content}</p>
                </div>
                <div class="bottom"></div>
              </div>
              <div class="clear"></div>

              <eq name="vo.reply|strlen" value="1"><else/>
              <ul class="children">
                <li class= "clearfix">
                  <div class="user"><img alt="" src="__PUBLIC__/Home/style/images/art/ad2.jpg" height="48" width="48" class="avatar" /><a class="reply-link" href="#">博主</a></div>
                  <div class="message">
                    <div class="info">
                      <!-- <h4><a href="#">Mathieu</a></h4> -->
                      <span class="date">{:date('Y-m-d H:i:s',$vo['message_stay_time'])}</span></div>
                    <p>{$vo.reply}</p>
                  </div>
                  <div class="clear"></div>
              </eq>


              <!--     <ul class="children">
                    <li class= "clearfix">
                      <div class="user"><img alt="" src="__PUBLIC__/Home/style/images/art/ad3.jpg" height="48" width="48" class="avatar" /><a class="reply-link" href="#">Reply</a></div>
                      <div class="message">
                        <div class="info">
                          <h4><a href="#">Charlene</a></h4>
                          <span class="date">April 4, 2010</span></div>
                        <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros.</p>
                      </div>
                      <div class="clear"></div>
                    </li>
                  </ul> -->
                </li>
              </ul>
            </li>
           <!--  <li class= "clearfix">
              <div class="user"><img alt="" src="__PUBLIC__/Home/style/images/art/ad1.jpg" height="48" width="48" class="avatar" /><a class="reply-link" href="#">Reply</a></div>
              <div class="message">
                <div class="info">
                  <h4><a href="#">Isabel</a></h4>
                  <span class="date">April 4, 2010</span></div>
                <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
              </div>
              <div class="clear"></div>
            </li>
            <li class= "clearfix">
              <div class="user"><img alt="" src="__PUBLIC__/Home/style/images/art/ad4.jpg" height="48" width="48" class="avatar" /><a class="reply-link" href="#">Reply</a></div>
              <div class="message">
                <div class="info">
                  <h4><a href="#">Jack</a></h4>
                  <span class="date">April 4, 2010</span></div>
                <p>Quisque tristique tincidunt metus non aliquam. Quisque ac risus sit amet quam sollicitudin vestibulum vitae malesuada libero. Mauris magna elit, suscipit non ornare et, blandit a tellus. Pellentesque dignissim ornare elit, quis mattis eros sodales ac.</p>
              </div>
              <div class="clear"></div>
            </li> -->
            </foreach>
          </ol>
        </div>
        <!-- End Comments --> 
        
        <!-- Begin Form -->
        <div class="comment-form">
          <h3 class="line">我要留言</h3>
          <div class="form-container">
            <form class="forms" action="{:U('Post/postAdd')}?id={$arr[0]['article_id']}&user_id=12" method="post">
              <fieldset>
                <ol>
                  <li class="form-row text-input-row">
                    <label>Name</label>
                    <input type="text" name="user_name" value="" class="text-input required" title="" />
                  </li>
                 <!--  <li class="form-row text-input-row">
                    <label>Email</label>
                    <input type="text" name="email" value="" class="text-input required email" title="" />
                  </li> -->
                  <li class="form-row text-area-row">
                    <label>Message</label>
                    <textarea name="message_content" class="text-area required"></textarea>
                  </li>
                  <li class="form-row hidden-row">
                    <!-- <input type="hidden" name="hidden" value="" /> -->
                  </li>
                  <li class="button-row">
                    <input type="submit" value="Submit" class="btn-submit" />
                  </li>
                </ol>
                <!-- <input type="hidden" name="v_error" id="v-error" value="Required" />
                <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" /> -->
              </fieldset>
            </form>
            <div class="response"></div>
          </div>
        </div>
        <!-- End Form --> 
        
        <!-- End Comments -->
    <!-- End Comments Section -->
    
	</div> <!-- End Container -->
	<include file='Public/_right' />
		
	</div>
    <div class="clear"></div>
    
  </div>
  <!-- End Wrapper -->
  
  <div class="push"></div>
</div>
<!-- End Body Wrapper -->
</block>
